<!DOCTYPE html>
<html>
  <head>
    <title>Tail</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= hidden_field_tag :user_id, params[:user_id], class: "user-id-value" %>
    <%= yield %>
  </body>
</html>
